@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root{
    --primary-color: black;
}
* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*SIGN-UP-FORM*/
.sign-up-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
}

.sign-up-form-content {
  display: grid;
  row-gap: 30px;
  width: 400px;
  margin: 20px;
}

.heading {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

.desc {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
}
/* List */
.points {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
}
.points > ul {
  list-style: none;
  padding: 0;
}
.points > ul > li {
  padding: 0.5rem 0 0.5rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.icon-list {
  margin-right: 15px;
}

/* email-form*/
.email-input {
  margin: 10px 0 20px 0;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 12px;
  color: var(--primary-color);
  padding: 0.5rem 0 0.5rem 0;
}

#invalid {
  font-size: 12px;
  display: inline-block;
  padding-left: 9.5rem;
  font-weight: 700;
  color: tomato;
}
input {
  color: black;
  width: 22rem;
  height: 3rem;
  border-radius: 8px;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border: 1px solid hsl(231, 7%, 60%);
}

input::placeholder {
  font-weight: 400;
  color: hsl(231, 7%, 60%);
}
.btn {
  margin: 1rem 0 1rem 0;
}

/* button */
.btn-valid,
.btn-done {
  width: 22rem;
  height: 3rem;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #242742,
    #242742,
    #242742,
    #242742,
    #242742
  );
  border: 1px solid var(--primary-color);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(
    to right,
    #fe527b,
    #ff5572,
    #ff5969,
    #ff5d60,
    #ff6257
  );
  border: 1px solid hsl(4, 100%, 67%);
  -webkit-box-shadow: 9px 82px 161px -36px rgba(255, 98, 103, 1);
  -moz-box-shadow: 9px 82px 161px -36px rgba(255, 98, 103, 1);
  box-shadow: 9px 82px 161px -36px rgba(255, 98, 103, 1);
}

/* SUCCESS CONTENT */
.success-content {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  display: none;
}

.sucess-icon {
  width: 18%;
  margin: 0.5rem 0 1.5rem 0;
}
.heading-sucess {
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}
.desc-sucess {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-color);
  line-height: 20px;
  margin-bottom: 1rem;
}

.img-mobile {
  display: none;
}

@media (max-width: 600px) {
  .container {
    background-color: white;
    overflow-x: hidden;
  }
  .sign-up-form {
    flex-direction: column-reverse;
    padding: 0;
  }

  .sign-up-form-content {
    padding: 1rem;
    width: 350px;
  }

  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: flex;
  }
  .btn-valid,
  .btn-done,
  input {
    width: 18rem;
  }
}